//字体css设置
$color-font:#FFF !default;
$color-font_active:#0078dc !default;
$color-gray:#999 !default;
//悬浮图标样式
$c_pointer:pointer;

//登录背景
$login_bg:#1e90ff !default;
$login_form:#fff !default;

//边框样式
$border:#e6e6e6 !default;
$border-active:#0078dc !default;